{% extends "base.html" %}
<!-- {% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'genome/style.css' %}"> 
</head> -->

{% block content %}
<div class="col">
    <div class="row"> 
        <h1>Upload BED File</h1>
    </div>
    <div class="row justify-content-center"> 
        <form method="post" enctype="multipart/form-data" action="" id="bedUploadForm" data-id="bedUploadForm"> {% csrf_token %}
            <input type="file" class="form-control" aria-label="Upload" name="bedFile" id="fileInput" onchange="return fileValidation()" >
            <button class="btn btn-outline-secondary" type="submit" id="submitBtn">Submit your data!</button>
        </form>
    </div>  
</div>
<script>
        // get ajax requests ready by passing the csrftoken for the post requests.
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            }
        });
        // method for checking the file that a user selects.
        function fileValidation() {
            var fileInput =  document.getElementById('fileInput');
            var filePath = fileInput.value;
            var allowed = /(\.bed)$/i;
            if (!allowed.exec(filePath)) {
                Swal.fire({
                    icon: 'error',
                    inputAttributes: {
                    id: "err-alert",
                    },
                    title: 'Oopsies...',
                    text: 'Please try to upload a valid bed file!'
                })
                fileInput.value = '';
                return false;
            }
        }
        
        // method to handle file submition through ajax call (prevent the reload to show a fun message)
        $('#bedUploadForm').submit( event => {
            event.preventDefault()
            const fileInput =  document.getElementById('fileInput');
            const filePath = fileInput.value;
            const allowed = /(\.bed)$/i;
            if(filePath === ''){
                Swal.fire({
                    icon: 'error',
                    inputAttributes: {
                    id: "err-alert",
                    },
                    title: 'Oopsies...',
                    text: 'No bed file was selected!'
                })
            }
            if(allowed.exec(filePath)){
                Swal.fire({
                    icon: 'success',
                    inputAttributes: {
                    id: "success-alert",
                    },
                    title: 'Nice!',
                    text: 'A team of skilled monkies is processing your file!'
                })
                const file = $('#fileInput')[0].files[0];
                fileData = new FormData();
                fileData.append('bedFile', file);
                // make POST ajax call
                $.ajax({
                    type: 'POST',
                    url: "/genome/upload",
                    data: fileData,
                    dataType: 'json',
                    processData: false,
                    contentType: false,
                })
                $('#fileInput').val('');
            }
        })  
        
        // function to get the cookie for the crfstoken 
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

</script>
<style>
    #bedUploadForm{
        display: flex;
        justify-content:center;
        align-items: flex-start;
        flex-direction: row;
    }
    #submitBtn {
        color: white;
        background-color: #333;
        border-radius: 0px 15px 15px 0px;

    }
    #fileInput {
        color: whitesmoke;
        background-color: #333;
        border-color: rgb(255, 255, 255);
        border-radius: 15px 0px 0px 15px;
    }
</style>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{# TODO: Handle BED uploads #}
{% endblock content %}
